
@import url('https://fonts.googleapis.com/css?family=Roboto:300&subset=latin-ext');

.blue-bg {
    background-color: cornflowerblue;
    color: #f0f0f0;
    border: 1px solid white;
}
/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
    font-family: 'Roboto', sans-serif;
  }

  .plead {
      font-weight: 100;
  }